html {
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;

}
body a:hover{
    color:black;
    text-decoration:none;
}
body a{
  color:black;
  text-decoration: none;
}
.container1{
  width: 100%;
}
.nav_left{
    float:left;
}
.nav_left a{
    font-size:26px;
    line-height:80px;
    text-decoration: none;
    display:block;
    color:white !important;


}
.nav{
    width:100%;
    background-color:#09BB07;
    position:fixed;
    top:0;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.3);
    z-index: 10;
}
.nav_right{
    padding-left:0;
    float:right;
    line-height:80px;
    margin-right: -15px;
    margin-top: auto;
    margin-bottom: auto;
}
.nav_right li {
    height: 52px;
    width:80px;
    display:inline-block;
    line-height: 56px;
    text-align: center;
}
.nav_mid:before{
    display: table;
    content: " ";
}
.nav_mid{
    height:52px;
    margin:3px auto;
    max-width: 80%;
}
#nav_bar{
    display:table-cell;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
#nav_bar li{

}
.nav_right li a:hover{
    color:gray;
    display: block;
    border:1px solid white;
    border-radius: 1em;
}
.nav_right li a{
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    text-decoration: none;
}
#nav_open {
    list-style: none;
    float: right;
    margin-top: 25px;
    display:none;
    width: 64px;
}
.main{
    margin:0 auto;
    width:82%;
    background-color: #ccc;
    padding: 32px 8px;
    overflow:hidden;
}
.main_left{
    width: 66.66666667%;
    vertical-align:middle;
    float:left;
    padding-left:16px;
    display: table-cell;
    margin-top: 80px;
}
.main_mid{
    -webkit-box-sizing: border-box;
    clear: both;
    margin:auto 10px;
    padding: 32px 8px;
}
.main_right{
    height:100%;
    float:left;
    margin-top: 80px;
    width: 33.3333332%;
}
.main_left p{
    text-indent:2em;
    line-height: 1.5;
    font-size:16px;
}
.code-light {
    text-align: right;
    border:white;
}
.code_dark{
  text-align: center;
  max-width: 520px;
}
.code_dark:after{
  border-color: black;
  background-color: #eee;
}
.code_dark2{
  text-align: center;
  max-width: 520px;
}

.code_dark2:after{
  border-color: black;
  background-color: #ccc;
}
.code {
    margin: 20px auto 20px;
    border: 0;
    border-top: solid 5px;
}
.code-light:after {
    border-color: black;
    background-color: #ccc;
}
.code:after {
    content: '</>';
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .1em;
    font-size: 2em;
    z-index: 1;
}
.image{
    vertical-align: middle;
    max-width: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}
.main_right h4{
    margin-top:2px;
    text-align: center !important;
    display: block;
    font-size:16px;
}
.label{
    display:inline;
    text-align: center;
    border-radius:0.25em;
    background-color:#5cb85c;
    color:white;
    font-size: 75%;
    font-weight: bold;
    padding: .2em .6em .3em;
}
.row{
  width:82%;
  background-color: #eee;
  margin-top: 0;
  padding:40px 16px;
  overflow: hidden;
  margin-left: auto !important;
  margin-right: auto !important;
}
.case{
  width:33.3333333%;
  height:337px;
  background-color: #eee;
  float:left;

}
.thumbnail{
  height:342px;
  text-decoration: none;
  color:black;
  display: block;
  margin:0 auto;
  background-color: white;
  border:1px solid white;
  border-radius: 4px;
    margin: 5px;
}
.case_images{
  width:214px;
  height:250px;
  max-height: 250px;
  margin-top: 20px;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  display:block;
  vertical-align: middle;

}
.text_center{
  text-align: center;
}
h2{
  display: block;
  font-size: 33px;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  margin-top:4px;
  margin-bottom: 5px;
}
h4 {
  font-weight: normal;
  font-family: inherit;
  margin-bottom: 10px;
  margin-top: initial;
  text-align: center;
  display: block;
  padding-top:28px;
  font-size: 18px;
}
.case_text{
  height:57px;
  text-align: center;
  margin:0 auto;
  box-sizing: border-box;
  margin-top: 10px;

}
.case a:hover{
  border-color: #337ab7;
}
.case2_image{
  width:147px;
}
.case3_image{
  width:235px
}
.case4_image{
  width:267px
}
.case_second{
  margin-top: 40px;
}
.contact_us{
    width: 82%;
  background-color: #ccc;
  margin:0 auto;
}
.contact_us:before{
  display: table;
  content: " ";
}
.contact_left{
  width:50%;
  text-align: center;
  float: left;
}
.contact_left p{
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.contact_right{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width:50%;
    float: left;
}
.contact_right ul{
    margin-top: 0;
}
.row_contact{
  width:100%;
  margin-top:1px;
  overflow:hidden;
}
#footer{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  background-color: black;
}
h5{
  display: block;
  text-align: center;
  padding-bottom:28px;
  margin: initial;
  font-size: 14px;
  font-weight: normal;
}
#footer h5 a{
  color:white;
  text-decoration: none;
}
#footer h5 a:hover{
  text-decoration: underline;
}
.icon-lit li{
    list-style: none;
    display: inline-block;
    margin: 8px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
}
.icon-lit{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width:300px;
}
.icon-lit a:hover{
    color:#337ab7 ;
}
@media screen and (max-width: 1150px) {
    .case {
        width: 50%;
        margin-bottom: 30px;
    }

    .case_second {
        margin-top: 0;
    }

}
@media screen and (max-width: 950px)
{
    .main_left {
        width: 50%;
    }
    .main_right{
        width: 50%;
    }
    .case {
        width: 100%;
    }
}
@media screen and (max-width: 880px) {
    .contact_right{
        width: 100%;
    }
    .contact_left{
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .nav_right{
        display: none;
    }
    .nav_mid #nav_open{
        display:block ;
    }
    .main_left {
        width: 100%;
    }
    .main_right{
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .nav .nav_mid{
      width:100% ;
    }
    .icon-lit{
        width:107%;
    }

	
}

#nav_meau a{
  display:block;
  text-decoration: none;
  color:white;
  font-size:16px;
}
#nav_meau a:hover{
  color:gray;
}
#nav_meau{
  width:100%;
  margin-bottom: 10px;
}